* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
    }

    header {
        display: flex;
        justify-content: space-between;
        background-color: aquamarine;
        align-items: center;
        height: 60px;
        padding: 0px 80px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        width: 450px;
    }

    .logo {
        font-size: 32px;
        color: rgb(28, 173, 28);
    }

    .menu_item {
        font-size: 19px;
        color: rgb(37, 135, 37);
        border-bottom: 3px solid transparent;
        height: 60px;
        line-height: 95px;
    }

    a.menu_item:hover {
    color: bisque;
    border-bottom: 3px solid bisque;
    padding-bottom: 15px;
    }

    .account {
        font-size: 25px;
        color: rgb(19, 147, 19);
    }

    img {
        height: 320px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main {
        padding: 50px 250px;
    }
    
    .description {
    width: 200px;
    }

    h3, P {
        color: rgb(92, 159, 25);
     }

    .film_title {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 3px;
    }

    h3 {
        margin-bottom: 15px;
        margin-top: 50px;
    }

    .icon {
        cursor: pointer;
    }

    #recomendations {
        margin-top: 30px;
    }

    div .menu_item {
        padding: 15px 9px 18px 9 px;
    }

    a .menu_item {
        padding-top: 15px;
    }

    .rating {
        width: 40px;
        height: 20px;
        background-color: green;
        color: azure;
        text-align: center;
        line-height: 20px;

        position: absolute;
        top: 15px;
        left: -7px;
                
    }

    .film_item {
        position: relative;
    }

